<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        h1{
            font-size: 120px;
        }

        header{
            display: flex;
            justify-content: center;
        }

        body{
            background-color: aquamarine;
        }

    </style>
    <title>BibliotecaRio</title>
</head>
<body>
    <header>
        <h1>~ BibliotecaRio ~</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a><br><br></li>
            <li><a href="{% url 'add_data' %}">Añadir Datos</a><br><br></li>        
            <li><a href="{% url 'search_books' %}">Buscar Libros</a><br><br></li>
            <li><a href="{% url 'Login' %}">Login</a><br><br></li>
            <li><a href="{% url 'Register' %}">Register</a><br><br></li>
        </ul>
    </nav>
</body>
</html>
